.tabs {
    margin: 5vh auto;
    display: flex;
    background-color: #fff;
    max-width: fit-content;
    border-radius: 3rem;
    filter: drop-shadow(2px 2px 5px #e8e8e8);


    .tab-headers {
        font-size: 1.2rem;
        padding: 2rem;
        list-style: none;
        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 5rem;
        align-items: center;
        gap: 1.5rem;

        li {
            text-align: center;
            display: inline-block;
            padding: 1rem 2rem;
            background-color: #fff;
            filter: drop-shadow(2px 2px 5px #cfcfcf);
            border-radius: 3rem;
            flex: 1;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background-color: black;
                color: #fff;
            }
        }
    }

    a {
        list-style: none;
        text-decoration: none;
        color: #000;
    }
}